<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Booking confirmation for <%= @passenger.name %></h1>
    <% @airport = Airport.find(@flight.arrival_airport_id) %>
    <p>You have successfully booked your trip to <%= @airport.code %></p>
</body>
</html>
